<%= simple_form_for(@flat) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :location,
      input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["pk.eyJ1Ijoib2ZmdG90aGVtb29uIiwiYSI6ImNscjg5amNiZTA3OG0ycXBjazRxdTludzkifQ.sNLM3PGl9J3a_g3eBcY4bw"]}}
    %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
