<div>
  <% @closets.each do |closet| %>
    <div class=" col-9 col-md-3 mb-4 me-5">
      <div class="card d-flex flex-row col-3" style="width: 36rem; height:240px">
        <% if closet.photo.attached? %>
        <div>
          <%= cl_image_tag closet.photo.key, style: "height: 240px; width: 240px;" %>
        </div>
        <% end %>
        <div class="card-body ">
          <h5 class="card-title text-danger"><%= closet.name %></h5>
          <p class="card-text lh-1"><small>location: <%= closet.location %></small></p>
          <p class="card-text lh-1"><small>features: <%= closet.features %></small></p>
          <p class="card-text lh-1"><small>Accesibility: <%= closet.accessibility %></small></p>
          <p class="card-text lh-1"><small>state: <%= closet.state %></small></p>
          <p class="card-text lh-1"><small>price: $<%= closet.status %></small></p>
          <%= link_to "Send booking request", new_closet_booking_path(closet.id), class:"text-decoration-none d-flex justify-content-end text-danger" %>
        </div>
      </div>
    </div>
  <%end%>
</div>


<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
