<% if current_user.host? %>

  <h1>user review</h1>

  <div class="container my-4">
    <div class="row d-flex justify-content-center">
      <div class="col-6 bg-white p-4 shadow">
          <%= simple_form_for(@user_review) do |f| %>
            <%= f.input :comment, label:"Leave a comment" %>
            <label for="rating" class="form-label">Rate <%=@closet.name %></label>
            <div class="d-flex justify-content-between">
              <p>1</p>
              <p>2</p>
              <p>3</p>
              <p>4</p>
              <p>5</p>
            </div>
              <input type="range" class="form-range" min="1" max="5" id="rating" name="rating">
              <div class="d-flex justify-content-between">
                <p>Really bad</p>
                <p>Excellent</p>
              </div>            <%= f.hidden_field :booking_id, value: @booking.id %>
            <%= f.submit class: "btn btn-outline-danger" %>
          <% end %>
      </div>
    </div>
  </div>

<% else %>

  <h1>closet review</h1>

  <div class="container my-4">
    <div class="row d-flex justify-content-center">
      <div class="col-6 bg-white p-4 shadow">
          <%= simple_form_for([@closet, @closet_review]) do |f| %>
            <%= f.input :comment, label:"Leave a comment" %>
            <label for="rating" class="form-label">Rate <%=@closet.name %></label>
            <div class="d-flex justify-content-between">
              <p>1</p>
              <p>2</p>
              <p>3</p>
              <p>4</p>
              <p>5</p>
            </div>
            <input type="range" class="form-range" min="1" max="5" id="rating" name="rating">
              <div class="d-flex justify-content-between">
                <p>Really bad</p>
                <p>Excellent</p>
              </div>
            <%= f.submit class: "btn btn-outline-danger" %>
          <% end %>
      </div>
    </div>
  </div>

<% end %>
