<% if user_signed_in? %>
  <div class="navbar navbar-expand-sm navbar-danger navbar-lewagon d-flex justify-content-between border-1 border-bottom border-danger">
    <div class="mx-2">
      <i class="fa-solid fa-guitar fa-2xl" style="color: #6b0f1a;"></i>
    </div>
    <div class="mx-2 ">
      <a href="#" class="avatar text-decoration-none" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if current_user.photo.attached? %>
          <h4 class="text-danger text-capitalize mt-2 text-decoration-none" id="nombre">
            <%= current_user.first_name %>  <%=cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu" %>
          <h4>
        <% else %>
          <h4 class="text-danger text-capitalize mt-2 text-decoration-none">
          <%= current_user.first_name %>  <img src="https://gopostr.s3.amazonaws.com/favicon_url/bvnowNkxrBEJWo1QyPAeSz0vDNa8hajfTgPKTP7m.png" class="avatar" alt="dropdown menu">
          <h4>
        <% end %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", dashboard_path, class: "dropdown-item text-danger btn btn-danger" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item text-danger btn btn-danger" %>
        </div>
      </a>
    </div>
  </div>
<% else %>
  <div class="navbar navbar-expand-sm navbar-danger navbar-lewagon d-flex justify-content-between border-1 border-bottom border-danger">
    <i class="fa-solid fa-guitar fa-2xl" style="color: #6b0f1a;"> Instrumates</i>
    <div class="d-flex">
      <div class="mx-0">
        <%= link_to new_user_session_path, class: "nav-link"  do%>
          <span>🟥 Login  </span>
        <% end %>
      </div>
      <div class="mx-3">
        <%= link_to new_user_registration_path, class: "nav-link"  do %>
          <span> 🟩 Register </span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
