<div class="container my-3">
  <div class="justify-content-center">
    <div class="col-lg-12 col-md-10 col-sm-12 bg-white tp-2 shadow d-flex justify-content-between">
      <div class="d-flex">
        <% if current_user.photo.attached? %>
        <div>
          <%= cl_image_tag current_user.photo.key, class: "rounded img-fluid border-2 ", style: "height: 100px; width:105px;" %>
        </div>
        <% end %>
        <div class= "mx-3 mt-3">
          <div class="d-flex">
            <h4> <%= current_user.first_name %> <%= current_user.last_name %> </h4>
            <p class="mx-3"> Email: <%= current_user.email %> </p>
            <p> Whatsapp: <%= current_user.phone_number %> </p>
          </div>
          <div class="d-flex">
            <p> Location: <%= current_user.location %> </p>
          </div>
        </div>
      </div>
      <div>
        <%= link_to "Log out", destroy_user_session_path, class: "btn btn-danger" %>
        <button type="button" class="btn btn-info"><%= link_to "Edit Profile", edit_user_registration_path, class:"text-decoration-none text-white"%></button>
      </div>
    </div>
  </div>
</div>


<% if current_user.host? %>

<%= line_chart Booking.where(status: 2).group_by_day(:created_at).sum("CAST(final_price AS decimal)"), height: "500px", library: { title: { text: "Earnings per day", x: -20 }, yAxis: { title: { text: "Earnings" } }, xAxis: { title: { text: "Date" } } } %>

  <h3>I'm a Host</h3>
  <div class="btn btn-outline-primary">
    <%= link_to "Request a new closet", new_closet_path %>
  </div>

  <% current_user.closets.each do |closet| %>
    <div class="container my-3">
      <div class="justify-content-center">
        <div class="col-lg-12 col-md-10 col-sm-12 bg-white tp-2 shadow d-flex justify-content-between">
          <div class="d-flex">
            <div>
              <%= cl_image_tag closet.photo.key, class: "rounded img-fluid border-2 ", style: "height: 100px; width:105px;" %>
            </div>
            <div class= "mx-3 mt-3">
              <div class="d-flex">
                <p> <%= closet.name %></p>
                <p> <%= closet.location %></p>
                <p> <%= link_to "ðŸ—‘ï¸ Delete", closet_path(closet), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

    <% current_user.host_bookings.each do |booking| %>
      <div class="container my-4">
        <div class="row d-flex justify-content-center">
          <div class="col-6 bg-white p-4 shadow">
            <%= render "bookings/status", booking: booking %>
            <p> <%= booking.closet.name %> </p>
            <p> <%= booking.final_price %></p>
            <p> <%= booking.pick_up %> </p>
            <p> <%= booking.drop_off %> </p>
              <% booking.items.each do |item| %>
                <p> <%= item.name %> </p>
              <% end %>
            <% unless booking.status == "accepted" || booking.status == "declined" %>
              <%= link_to "Accept", accepted_closet_booking_path(booking.closet, booking), class: "badge bg-success text-decoration-none m-1", data: {turbo_confirm: 'Are you sure?', turbo_method: :patch} %>
              <%= link_to "Reject", declined_closet_booking_path(booking.closet, booking),  data: { turbo_confirm: 'Are you sure?', turbo_method: :patch }, class: "badge bg-danger me-1 m-1 text-decoration-none" %>
            <% end %>
            <div class="btn btn-outline-primary">
              <%= link_to "See al info", closet_booking_path(booking.closet, booking) %>
            </div>
          </div>
    <% end %>
        </div>
      </div>


<% else %>
  <h3>I'm an Owner</h3>

  <div class="container my-4">
    <div class="row d-flex justify-content-center">
      <div class="col-6 bg-white p-4 shadow">
          <%= render "items/new", items: @items, redirect: true, closet: nil %>
      </div>
    </div>
  </div>
    <%= render "items/list", items: @items %>
  <div>
    <%= link_to "Continue Booking", closets_path, class: "btn btn-primary" %>
  </div>

  <div>
    <p>My Bookings</p>
    <% current_user.bookings.each do |booking| %>
      <div class="container my-4">
        <div class="row d-flex justify-content-center">
          <div class="col-6 bg-white p-4 shadow">
            <p> <%= booking.status %> </p>
            <p> <%= booking.closet.name %> </p>
            <p> <%= booking.pick_up %> </p>
            <p> <%= booking.drop_off %> </p>
            <%= render  "bookings/status", booking: booking %>
          <% booking.items.each do |item| %>
            <p> <%= item.name %> </p>
          <% end %>
          </div>
        </div>
      </div>
      <div class="btn btn-outline-primary">
        <%= link_to "See al info", closet_booking_path(booking.closet, booking) %>
      </div>
    <% end %>
<% end %>

  <%# <form action="/closets" accept-charset="UTF-8" method="get">
    <input id="hidden-input" name="selected_ids" value= "item.id" type="hidden">
    <input name="create booking" type="submit">
  </form> %>
