<%# profile card start %>
<div class="start-profile d-flex align-items-center justify-content-center col-12 m-4">
  <div class="profile-card d-flex bg-white col-6">
    <div class="profile-card-pic">
      <% if current_user.photo.attached? %>
        <div class="pc-pic">
          <%= cl_image_tag current_user.photo.key %>
        </div>
      <% end %>
    </div>
    <div class="pc-info">
      <h2 class="full-name"><%= current_user.first_name %> <%= current_user.last_name %>
        <button type="button" class="btn btn-outline-light rounded-pill ms-2"><%= link_to "Edit my info", edit_user_registration_path, class:"text-decoration-none"%></button>
      </h2>
      <p class=""> Email: <%= current_user.email %> </p>
      <p> Whatsapp: <%= current_user.phone_number %> </p>
      <p> Location: <%= current_user.location %> </p>
    </div>
  </div>
<%# profile card end%>

<%# reviews start %>
  <% if current_user.owner? %>
    <div class="reviews-card d-flex bg-white col-6">
      <div class="reviews-card-">
        <p>reviews pending</p>
      </div>
    </div>
<%# reviews end %>
  <% else %>
    <div class="cloudhost col-6">
      <%= image_tag("cloudcloset.png", alt: "cloudcloset") %>
    </div>
  <% end %>
</div>

<% if current_user.host? %>

  <div class="container d-flex justify-content-between">
    <h3 class="booking-title text-center"><strong>My closets</strong></h3>
    <div>
      <%= link_to "Request a new closet", new_closet_path, class:"btn btn-lg btn-primary rounded-pill text-white mt-2" %>
    </div>
  </div>
  <% current_user.closets.each do |closet| %>
    <div class="container my-3">
      <div class="justify-content-center">
        <div class="col-lg-12 col-md-10 col-sm-12 bg-white tp-2 shadow d-flex justify-content-between">
          <div class="d-flex">
            <div>
              <%= cl_image_tag closet.photo.key, class: "rounded img-fluid border-2 ", style: "height: 100px; width:105px;" %>
            </div>
            <div class= "mx-3 mt-3">
              <div class="d-flex">
                <p> <%= closet.name %></p>
                <p> <%= closet.location %></p>
                <p> <%= link_to "ðŸ—‘ï¸ Delete", closet_path(closet), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= line_chart Booking.where(status: 2).group_by_day(:created_at).sum("CAST(final_price AS decimal)"), height: "500px", library: { title: { text: "Earnings per day", x: -20 }, yAxis: { title: { text: "Earnings" } }, xAxis: { title: { text: "Date" } } } %>

    <% current_user.host_bookings.each do |booking| %>
      <div class="container my-4">
        <div class="row d-flex justify-content-center">
          <div class="col-6 bg-white p-4 shadow">
            <%= render "bookings/status", booking: booking %>
            <p> <%= booking.closet.name %> </p>
            <p> <%= booking.final_price %></p>
            <p> <%= booking.pick_up %> </p>
            <p> <%= booking.drop_off %> </p>
              <% booking.items.each do |item| %>
                <p> <%= item.name %> </p>
              <% end %>
            <% unless booking.status == "accepted" || booking.status == "declined" %>
              <%= link_to "Accept", accepted_closet_booking_path(booking.closet, booking), class: "badge bg-success text-decoration-none m-1", data: {turbo_confirm: 'Are you sure?', turbo_method: :patch} %>
              <%= link_to "Reject", declined_closet_booking_path(booking.closet, booking),  data: { turbo_confirm: 'Are you sure?', turbo_method: :patch }, class: "badge bg-danger me-1 m-1 text-decoration-none" %>
            <% end %>
            <div class="btn btn-outline-primary">
              <%= link_to "See al info", closet_booking_path(booking.closet, booking) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

<% else %>
<%# owner start %>
<%# items start %>
  <div class="col-12 d-flex align-items-center justify-content-center">
    <div class="item-creation d-flex col-12 p-4 ">
      <div class="item-creation-form bg-white col-4 m-4 p-4">
        <%= render "items/new", items: @items, redirect: true, closet: nil %>
      </div>
      <div class="created-items col-8 m-2 ">
        <div>
        <%= render "items/list", items: @items %>
        </div>
      </div>
    </div>
  </div>
<%# items end %>
<%# booking current start %>
<%# pending if current_user.current_booking %>
  <div class="container col-12">
    <h3 class="booking-title text-center"><strong>My bookings</strong></h3>
    <div class="col-12 d-flex row align-items-center justify-content-center">
      <% current_user.bookings.order(created_at: :desc).each do |booking| %>
          <div class="bookings-card col-12 bg-primary p-4 m-4 shadow">
            <div class="d-flex justify-content-between">
              <h2 class="bc-closet-name text-primary shadow"> <strong><%= booking.closet.name %></strong></h2>
              <div>
                <%= render  "bookings/status", booking: booking %>
              </div>
            </div>
            <div class="deliverys">
              <h4 class="mt-3"><strong>Delivery location: </strong><%= booking.closet.location %></h4>
              <h4 class="mt-3 "><strong>Delivery day: </strong><%= booking.pick_up %> || <strong>Retrieve day:</strong> <%= booking.drop_off %></h4>
            </div>
            <div class="listitems">
            <h4 class="mt-4"><strong>My items: </strong></h4>
            <ol>
            <% booking.items.each do |item| %>
            <div>
              <h4><li>Name: <strong><%= item.name %></strong>  |  Type: <strong><%= item.item_type %> </strong>(<%=item.size%> size)</li><h/4>
            </div>
            <% end %>
            </ol>
            </div>
          <div class="d-flex justify-content-between">
            <div>
              <h2 class="mt-3 text-success">Paid price: <strong><%= number_with_precision(booking.final_price,precision:2) %>$</strong></h2>
            </div>
            <div class="mt-4">
              <%= link_to "See all booking information and review this closet", closet_booking_path(booking.closet, booking), class: "btn btn-info text-decoration-none text-white rounded-pill" %>
            </div>
          </div>
          </div>
      <% end %>
    </div>
  </div>
<%# booking current end%>
<%# owner end %>
<% end %> <%#current_user %>
