
<div class="item-card" data-controller="item-update" data-item-update-target="card" data-item-update-target="infos">
  <%= cl_image_tag item.photo.key, style: "height: 120px; width:200px;"%>
  <div class="item-infos" data-items-target="infos">
      <p><%= item.name %></p>
      <p><%= item.item_type %></p>
      <p><%= item.fragility %></p>
      <p><%= item.size %></p>
      <p> <%= link_to "ðŸ—‘ï¸ Delete", item_path(item), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%> </p>
      <%= check_box_tag item.id, data: {action: "change->items#cacheItem change->bookings#removeItemFromCache", "bookings-target": "checkboxItem", "items-target": "checkboxItem"} %>
      <%= @selected_items << item if params[:selected_item] %>
      <button aria-label="Edit item">
        <i class="fa-solid fa-pen fa-xs ml-2" data-action="click->item-update#displayForm"></i>
      </button>
  </div>
  <%= simple_form_for item, html: {class: "d-none"},
    data: {
    item_update_target: "form",
    action: "submit->item-update#update"} do |f| %>
      <%= f.input :name, label:"Name" %>
      <%= f.input :photo, as: :file, label: "Item picture ðŸ“·" %>
      <%= f.input :item_type, as: :select, collection: Item::ITEM_TYPE, label:"Type" %>
      <%= f.input :fragility, as: :select, collection: Item::FRAGILITY, label:"Fragility" %>
      <%= f.input :size, as: :select, collection: Item::SIZE, label:"Size" %>
      <%= f.submit class: "btn btn-outline-danger" %>
    <% end %>
</div>
